# Alibaba Cloud Direct Mail Configuration
ALIBABA_ACCESS_KEY_ID=
ALIBABA_ACCESS_KEY_SECRET=
ALIBABA_REGION=

# Verified Email Address on Alibaba Cloud
ALIBABA_SENDER_EMAIL=
ALIBABA_SENDER_NAME=

# SMTP Credentials (if needed for backup)
SMTP_USER=
SMTP_PASSWORD=

# Flutterwave payment API
## New account (ReachDem) Not handle Mobile payments yet.
FLUTTERWAVE_PUB_KEY_V3=
FLUTTERWAVE_V4_BASE_URL=
FLUTTERWAVE_V4_CLIENT_ID=
FLUTTERWAVE_V4_CLIENT_SECRET=

# App URL (for client)
NEXT_PUBLIC_APP_URL="http://localhost:3000"
DATABASE_URL=
# Optional: Prisma Accelerate URL (when using Accelerate instead of direct adapter)
PRISMA_ACCELERATE_URL=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Resend (Email)
RESEND_API_KEY=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_LINKS_URL=http://localhost:3001

SHADCNBLOCKS_API_KEY=

# Test Data Variables
TEST_USER_ID=
TEST_USER_EMAIL=
TEST_ORG_ID=
